<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <h1>
                Unlock More Leads, and Meetings
            </h1>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>

        <div>
            <img src="" alt="" />
        </div>

        <div class="btns">
            <button id="firstOne">
                Get Early Access
            </button>

            <button id="secondOne">
                Contact Us
            </button>
        </div>
    </section>
</body>
</html>

<style>
    section {
        height: 80vh;
        width: 600px;
        padding: 3rem;
        margin-left: 2rem;
    }
    
    section h1 {
        font-size: 6rem;
        margin-bottom: 2rem;
    }

    section p {
        opacity: 0.7;
    }

    .btns {
        display: flex;
    }

    #firstOne {
        margin: 20px;
        color: white;
        border: none;
        padding: 13px 30px;
        border-radius: 50px;
        background-color: #185ea4;
        cursor: pointer;
    }

    #secondOne {
        margin: 20px;
        color: black;
        border: none;
        padding: 13px 30px;
        border-radius: 50px;
        cursor: pointer;
    }
</style>