---
import Ratings from "./ratings.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <h1>Revolutionize Your <span>Sales</span> process with Our Tool.</h1>
        </div>

        <img src="/Prototype.png" alt="">

        <div>
            <p>
                HIGHLIGHTED FEATURES OF
            </p>

            <h1>
                Cold Email automations
            </h1>

        </div>

    </section>
</body>
</html>

<style>
    section {
        height: 100vh;
        padding: 3rem;
        margin-top: 3rem;
    }

    section img {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    section p {
        width: 700px;
        padding-top: 10px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 1.5rem;
        color: #38303D;
    }

    section h1 {
        width: 700px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 3rem;
    }

    section span {
        background-image: linear-gradient(90deg, #f857a6, #ff5858, #ffc53a);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    }

</style>